{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% for user in users %}
            <div>
                <form action="{% url 'chat:index' %}" method="POST">
                {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <button type="submit">{{ user.username }}</button>
                <br>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <a href="{% url 'user:login' %}">Сначала авторизуйся</a>
    {% endif %}
{% endblock %}

